@media (max-width: 767px) {
    .about_us_wrapper {
        .about_us_article {
            padding: 50px 10.5px;
            text-align: center;
            p {
                width: 100%;
            }
            .read-more-btn {
                width: 100%;
            }
        }
    }
}